@media only screen and (min-width: 992px) {
    #content {
        margin-left: 300px;
    }
    #user {
        width: 100% !important;
    }
    .menu-item{
        color: #484848;
    }
    .menu-item:hover{
        background-color: #ECEFF1;
        color: #484848;
    }
}
@media only screen and (max-width: 992px){
    .menu-item, .menu-item:hover{
        color: #ffffff;
    }
}

#title{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    vertical-align: sub;
}

#version{
    height:15px;
    vertical-align: text-top;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .plain_link, .plain_link:hover{
    text-decoration: none;
  }

  
.note {
    margin: 10px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #b38f2f;
}
.note.error {
    color: #b38f2f; }
  