@media only screen and (min-width: 992px) {
    #content {
        margin-left: 300px;
    }
}

#sidebar{
    padding: 0;
    height: 100%;
    width: 300px;
}
#logo{
    padding: 35px;
    font-family: 'Exo 2', sans-serif;
}
#logotext{
    padding: 25px 0 25px 0;
}
#title{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    vertical-align: sub;
}
#version{
    height:15px;
    vertical-align: text-top;
}